body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbcbcb+0,f8f8f8+100 */
	background: #cbcbcb; /* Old browsers */
	background: -moz-linear-gradient(top, #cbcbcb 0%, #f8f8f8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cbcbcb 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cbcbcb 0%,#f8f8f8 100%) no-repeat fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
	height: 100%;
	font-family: $primary-font;
}

html {
	height: 100%;
}