
$primary-font: "Source Sans Pro", "Arial", sans-serif;
$secondary-font: "Helvetica", "Segoe UI", "Arial", sans-serif;
$secondary-font-light: "Helvetica Light", "Segoe UI Light", "Arial", sans-serif;

$primary-color: #01bce5;
$background-color: #dcdcdc;

$title-color: #005568;
$copy-color:  #555555;
$nav-color: #1d1d1d;
$nav-highlight-color: #01bce5;

$primary-button-color: #017993;
$secondary-button-color: #01b7df;

$em-base: 16;

$container-width: 60rem;