.copy {
	&__paragraph {
		color: $copy-color;
		font-family: $primary-font;
		font-size: rem-calc(14);
		margin: rem-calc(15) 0 rem-calc(15) 0;
		&--bold {
			font-weight: bold;
		}
	}
	&__title {
		color: $title-color;
		font-family: $primary-font;
		font-size: rem-calc(30);
		line-height: rem-calc(25);
		margin-bottom: rem-calc(20);
	}
}