.form {
	&__button {
		background: $primary-button-color;
		border-radius: rem-calc(5);
		border: none;
		color: #fff;
		font-family: $secondary-font-light;
		font-size: rem-calc(16);
		padding: rem-calc(16) rem-calc(70);
		text-shadow: 0 rem-calc(3) #015568;
		text-transform: uppercase;
		transition: background 0.2s;
		&:hover {
			cursor: pointer;
			background: darken($primary-button-color, 20%);
		}
	}
	&__button-container {
		margin-top: rem-calc(32);
	}
	&__label {
		color: $copy-color;
		display: block;
		font-0size: rem-calc(16);
		font-weight: bold;
		margin-bottom: rem-calc(3);
	}
	&__fieldset{
		border: none;
		margin: rem-calc(10) 0 rem-calc(16) 0;
		padding: 0;
	}
	&__input, &__select, &__textarea {
		border: rem-calc(1) solid #a9a9a9; 
		border-radius: rem-calc(5);
		color: $copy-color;
		width: rem-calc(292);
		padding: rem-calc(12);
		&::-webkit-input-placeholder {
  			color: #c6c6c6;
  			font-size: rem-calc(14);
  			font-style: italic;
		}
		&::-moz-placeholder {
			color: #c6c6c6;
  			font-size: rem-calc(14);
  			font-style: italic;
		}
		&:-ms-input-placeholder {
			color: #c6c6c6;
  			font-size: rem-calc(14);
  			font-style: italic;
		}
		&:-moz-placeholder {
			color: #c6c6c6;
  			font-size: rem-calc(14);
  			font-style: italic;
		}
	}
	&__option {
		margin: 0;
		padding: 0;
	}
	&__required {
		color: $copy-color;
		font-size: rem-calc(14);
	}
	&__secondary-button {
		color: $secondary-button-color;
		margin-left: rem-calc(40);
		text-decoration: none;
	}
	&__select {
		-webkit-appearance: none;
  		-moz-appearance: none;
  		appearance: none;
		padding: rem-calc(12) rem-calc(7);
		width: rem-calc(317);
		&-container {
			position: relative;
			width: rem-calc(317);
			&:after {
				background: url('/img/select-drop-down.svg');
				content: "";
				height: rem-calc(9);
				right: 4%;
				position: absolute;
				top: 40%;
				width: rem-calc(14);
			}
		}
	}
	&__success {
		color: green;
		display: none;
		&.active {
			display: block;
		}
	}
	&__textarea {
		width: 100%;
	}
}