.header {
	background: url(/img/header-bg.jpg);
	border-bottom: rem-calc(2) solid $title-color;
	padding: rem-calc(6) 0 rem-calc(4) 0;
	&__container {
		margin: 0 auto;
		max-width: $container-width;
	}
	&__logo-container {
		margin: 0 auto;
		max-width: rem-calc(60);
	}
	&__sign-in {
		color: #fff;
		float: right;
		font-family: $secondary-font-light;
		font-size: rem-calc(18);
		margin-right: rem-calc(36);
		margin-top: rem-calc(20);
		text-decoration: none;
		text-shadow: 0 rem-calc(2) #015264;
	}
}