.nav {
	align-items: center;
	background: #fff;
	border-bottom: rem-calc(11) solid transparent;
	border-image: url(/img/nav-shadow.jpg) 11 stretch;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: rem-calc(670);
	padding: rem-calc(15) 0 rem-calc(20) 0;
	position: relative;
	@media(max-width: rem-calc(480)) {
		flex-direction: column;
	} 
	&__link {
		color: $nav-color;
		font-family: $secondary-font;
		font-size: rem-calc(18);
		text-decoration: none;
		transition: color 0.2s;
		&:hover {
			color: $primary-color;
			&:after {
				color: $nav-color;
			}
		}
		@media(max-width: rem-calc(480)) {
			display: block;
			margin: rem-calc(10) 0;
		}
		&:after {
			content: "|";
			margin: 0 rem-calc(25);
			@media(max-width: rem-calc(650)) {
				margin: 0 rem-calc(10);
			}
			@media(max-width: rem-calc(480)) {
				content: "";
			}
			
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}
}